.patient-page {
  height: 100vh;
  background-color:white;

}

.columns {
  max-height: 100vh;
}

#nav-col{
  background-color: #53AFC6;
}

.ball-scale-ripple-multiple {
  z-index: 100;
  left: 50%;
  top: 50%;

}