#profile-photo{
    height: 100px;
    width: auto;
}

.is-vertical{
height: 500px;
width: 600px;
}

.column-1{
height: auto;
}
.column-2{
height: 100vh;
}

.column-3{
 height: 100vh;
}

.search-bar{
    position: relative;
    padding: 50px;
} 

.Ward-Search{
    position: relative;
    /*left:160px;*/
    width: 100%;
}

.Patient-List{
    display: flex;
    min-width: 416px;

}

.component-UserPage {
    background-color: white; 
   
}




