#blood-test-titles{
    color: #454E57;
    font-family: 'Asap', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

#blood-test-keys{
    color:#53AFC6;
    font-family: 'Asap', sans-serif;
    font-size: 15px;
    font-weight: bold

}

#test-result{
    color: #454E57;
    font-family: 'Asap', sans-serif;
    font-size: 15px;
    font-weight: bold;

}