.component-NavBar {
    background-color: white;
    margin: auto;
}

.icon {
    height: 60px;
    width: auto;
    margin: auto;
    margin-top: 30px;
    padding: auto;
    margin-left: 24%;
    display: block;
}