#profile-photo {
    border-radius: 50%;
    height: 100px;
    width: auto;
}

.profile-photo-container {
    display: inline;
}

.users-details {
    display: inline-block;
}

.component-ProfileCard {
    background-color: lightblue;
    width: 350px;
    border-radius: 0%;
}

