.component-SearchBar{
    height: 100%;
    max-height: 200px;
    margin: 50px 50px 50px 50%;
    
}

#dropdown{
    height: 100%;
    max-height: 350px;
    overflow-y: scroll;
    flex:1;
    flex-direction: column;
    position: absolute;
    top:82px;
    z-index: 100;
}

.searchbox{
    width:300px;
}




