#urine-test-titles{
    color: #454E57;
    font-family: 'Asap', sans-serif;
    font-size: 15px;
    font-weight: bold;

}

#urine-res-keys{
     color: #53AFC6;
    font-family: 'Asap', sans-serif;
    font-size: 15px;
    font-weight: bold;

}

#urine-test-data{
        color: #454E57;
    font-family: 'Asap', sans-serif;
    font-size: 15px;
    font-weight: bold;


}