.is-multiple{
     height: auto;
     width: 50%;
     margin: auto;
   }

  #eachWard{
    margin-bottom: 0px;
     font-family: 'Asap', sans-serif;
     font-weight: bold;
     color: #494949;
     margin: auto;
  }



